*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: sans-serif;
    color: white;
    margin-left: 0%;
}

#subtitulo{
    font-family: sans-serif;
    color: white;
    margin-left: 0%;
}

fieldset {
    border: 0;
}

body {
    background-color: rgb(80, 80, 80);
    font-family: sans-serif;
    font-size: 1em;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, button {
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: white;
    display: block;
}

fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"] {
    padding: 0.2em;
    border: 1px solid darkorange;
    box-shadow: 2px 2px 2px white;
    display: block;
}

.campo input:focus .campo select:focus{
    background: darkorange;
}

.botao {
    font-size: 1.2em;
    background: darkorange;
    border: 0;
    margin-bottom: 1em;
    color: white;
    padding: 0.2em 0.6em;
    box-shadow: white;
    text-shadow: 1px 1px 1px black;
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao.hover {
    background: #ccbbff;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}