body {
overflow-x: hidden;
width: 100%;
height: 100%;
margin: 0 auto;
background-color: rgb(80, 80, 80);
}

ul {
padding: 0px!important;
}
.menu-principal {
width: 100%;
background-color: darkorange;
height: 65px;
}

main {
margin: 0 auto;
width: 980px;
position: relative;
}

.logo {
float: left;
}

.logo a{
text-decoration: none;
font-size: 25px;
color: purple;
padding: 15px;
float: left;
font-family: 'Orbitron', cursive;
}

.redes-sociais{
width: 30%;
float: right;
}

.redes-sociais ul li{
display: inline-block;
margin-left: 15px;
float: left;
list-style: none;
}
.header2 {
background-color: rgb(80, 80, 80);
width: 980px;
margin: 0 auto;
padding: 13px;

}

.menu-urls {
border-bottom:  3px solid orange;
height: 80px;
}

.menu ul li {
display: inline-block;
color: darkorange;
margin-left: 15px;
height: 50px;
}

.menu ul li:hover {
border-bottom: 4px solid purple;
}

.menu ul li a:hover {
color: purple;

}

.menu ul li a {
color: darkorange;
text-decoration: none;
font-size: 18px;
text-transform: uppercase;
font-family: 'Permanent Marker', cursive;
}

.menu {
width: 70%;
float: left;
}

.busca {
width: 30%;
float: right;
}

.busca input {
margin-top: 10px;
background-image: url('../img/search-icon.png');
background-repeat: no-repeat;
background-position: 90%;
border: 1px solid black;
height: 36px;
padding: 12px;
width: 190px;
}

.col-100 {
width: 100%;
float: left;
position: relative;
}

button.slick-prev{

font-size: 0px;
border: none;    
width: 75px;
height: 75px;
z-index: 9;
background-color: transparent;
position: absolute;
background-image: url('../img/retroceder-removebg-preview.png');
top: 35%;
left: 5%;
}

button.slick-next{

    font-size: 0px;
    border: none;    
    width: 75px;
    height: 75px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/avançar.png');
    top: 35%;
    right: 5%;
    }

 /* footer */
 footer {
       
    padding-top: 5em;
    padding-bottom: 40px;
    border-top: 5px;
    border-top: 5px solid darkorange;
}
/*mudando a cor das tags*/
footer h2, footer p, footer a, footer span{
    color: white;
}
/*mudando o tamanho e tirando o estilo padrão*/
footer h2 {
    font-weight: 400;
}

footer a {
    text-decoration: none;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
}
/*fazendo estlo das classes que tiramos o estilo*/   
.footer-box {
   width: 31%; 
   padding: 1%;
   float: left;
}/*fazendo o layout das footer-box uma ao lado da outra*/

footer .wrapper:after {
    clear: both;
    content: "";
    display: block;
}/*limpando o float do wrapper*/

.company-footer {
    width: 80%;
}/*fazendo o estilo do company-footer*/

.company-footer h2 {
    margin-top: 20px;
}

.company-footer h2, .company-footer p {
    margin-bottom: 20px;
}

.footer-list li {
    margin-bottom: 15px;
}/*espaçamento de uma li da outra*/

.footer-list a {
    transition: .5%;
}

.footer-list a:hover {
    color: darkorange;
}/*muda de cor quando passa o mouse em cima*/

.footer-box li a:hover {
    color: darkorange;
}

.footer-box p:hover{
    color: darkorange;
    cursor: pointer;
}

.footer-list li:after {
    clear:both;
    content: "";
    display: block;
}

.article-footer {
    width: 80%;
}


.fab {
    font-size: 30px;
    margin-right: 10px;
    float: left;
}

.footer-list li span {
    float: left;
    height: 30px;
    line-height: 30px;
}

.footer-botton {
    border-top: 1px solid darkorange;
}

.footer-botton p {
    font-weight: 600;
    margin-top: 40px;
}