body {
width: 100%;
height: 100%;
margin: 0 auto;
}

ul {
padding: 0px!important;
}
.menu-principal {
width: 100%;
background-color: darkorange;
height: 65px;
}

main {
margin: 0 auto;
width: 980px;
position: relative;
}

.logo {
float: left;


}
.redes-sociais{
display: inline-block;
width: 25%;
float: right;
list-style: none;
padding: 16px;
}
.header2 {
background-color: white;
width: 980px;
margin: 0 auto;
padding: 13px;

}

.menu-urls {
border-bottom:  3px solid orange;
height: 80px;
}

.menu ul li {
display: inline-block;
color: darkorange;
margin-left: 15px;
}

.menu ul li a {
color: darkorange;
text-decoration: none;
font-size: 18px;
text-transform: uppercase;
}

.menu {
width: 70%;
float: left;
}

.busca {
width: 30%;
float: right;
}

.col-100 {
width: 100%;
float: left;
position: relative;
}